# File: settings.env.template
# Add your subscription secret and store the file locally (only) as settings.env

# Required for SOS calls
export SOS_YEAR=2025  ## Select year
export SOS_PROVINCE_FEATURE_ID=1 ## This is Skane
export SOS_API_KEY="----private-subsrciption-key-here-----" ## Private secret

# Optional
export ARTDATABANKEN_X_API_VERSION="1.5"
